/* CarCard.css file */

.car-card {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(53, 53, 53, 0.4);
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}

.car-card:hover {
  transform: scale(1.05);
}

.car-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 12px;
  border-radius: 8px;
}

.car-details {
  text-align: left;
}

.car-model {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #1E3A8A;
}

.car-price {
  font-weight: 600;
  font-size: 24px;
  color: rgb(75, 74, 74);
}

.car-info {
  color: #3a3838;
  margin-bottom: 4px;
  font-size: 16px;
}

@media (max-width: 680px) {
  .car-card {
    padding: 12px;
  }

  .car-model {
    font-size: 18px;
    margin-bottom: 6px;
  }

  .car-price {
    font-size: 18px;
  }

  .car-info {
    font-size: 12px;
  }
}
