.car-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}


@media (max-width: 680px) {
  .car-list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

