/* filter.css */

.sidebar {
  top: 0;
  left: 0;
  height: 100%;
  width: 90%;
  padding: 0% 10% 10% 10%;

  background-color: #fff;
  box-shadow: 2px 0px 5px 0.1px #c0c0c0;
  /* overflow-y: auto; */
  margin-top: 65px;
}

.filter-options {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

.filter-label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #0d0d0d;
}

.sub-filter {
  font-weight: bold;
  padding: 10px;
  font-size: large;
}

.color-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: medium;
}

.color-checkbox input {
  margin-right: 5px;
  display: inline-block;
}

.color-checkbox span {
  display: inline-block;
  margin-left: 3px;
}

.filter-options input[type="range"] {
  width: 60%;
  padding: 8px;
  box-sizing: border-box;
  background: linear-gradient(to right, #3570c2, #3570c2);
  height: 4px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  margin-bottom: 10px;
}

.filter-options input[type="range"]:hover {
  opacity: 1;
}

.filter-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.filter-buttons button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff !important;
  text-transform: uppercase;
}

.filter-buttons button.filter-btn {
  background-color: #1976D2;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.filter-buttons button.reset-btn {
  background-color: #dc3545;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.filter-buttons button.reset-btn:hover {
  background-color: #c82333;
  color: #fff;
}

@media (max-width: 680px) {
  .sidebar {
      width: 98%;
      padding: 1%;
      margin: 1%;
  }

  .filter-options input[type="range"] {
    width: 100%;
  }
}


