.navbar {
    box-shadow: 0px 3px 7px 0px #aaa;
    position: fixed;
    width: 100%;
    height: 65px;
    background-color: #FFF;
    opacity: 0.85;
    z-index: 100;
    top: 0;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 20px;
  }
  
  .hamburger-lines {
    display: none;
  }
  
  .logo {
    font-size: 2.3rem;
    font-weight: 700;
    color: rgb(33, 33, 139);
    padding-left: 30px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 10px;
    border: 1px solid #1976D2;
    border-radius: 4px;
    margin-right: 10px;
    color: rgb(18, 18, 18);
  }
  
  .search-btn {
    margin-right: 16px;
    padding: 0 8px;
    min-width: 80px;
    height: 34px;
    background: #1976D2;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: .02em;
    color: #fff!important;
    text-transform: uppercase;
    cursor: pointer;
  }