*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppin';
}

.app-container {
  display: flex;
  height: 100vh;
}


.main-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.sidbar{
  width:25%;
}
.main-content {
  height: 100vh;
  overflow-y: scroll;
  width: 75%;
  margin:auto;
  margin-top: 2.5%;
  text-align: center;
}


.message{
  color: rgb(237, 74, 74);
  font-size: xx-large;
  text-align: center;
  padding: 300px;
}

@media (max-width: 680px){
  .main-container{
    flex-direction: column;
    margin-top: 30px;
  }
  .main-content{
    width: 100%;
    height: unset;
    overflow-y: unset;
  }
  .sidbar{
    width: 100%;
    padding-top: 15%;
  }
}



