*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppin';
}

.app-container {
  display: flex;
  height: 100vh;
}


.main-container {
  display: flex;
}

.main-content {
  margin-left: 280px; 
  margin-top: 30px;
  padding: 20px;
  flex: 1;
}

.navbar {
  box-shadow: 0px 3px 7px 0px #aaa;
  position: fixed;
  width: 100%;
  height: 65px;
  background-color: #FFF8E3;
  color: #000;
  opacity: 0.85;
  z-index: 100;
  top: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 20px;
}

.hamburger-lines {
  display: none;
}

.logo {
  font-size: 2.3rem;
  font-weight: 700;
  color: rgb(52, 52, 240);
  padding-left: 30px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  border: 1px solid #1E3A8A;
  border-radius: 4px;
  margin-right: 10px;
  color: rgb(18, 18, 18);
}

.search-btn {
  padding: 10px;
  background-color: #0a4f87;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.message{
  color: red;
  font-size: xx-large;
  text-align: center;
  padding: 300px;
}

@media (max-width: 768px) {
  .navbar-container {
    padding: 0 10px;
  }

  .search-input {
    width: 150px; 
  }
}

