*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppin';
}

.app-container {
  display: flex;
  height: 100vh;
}


.main-container {
  display: flex;
}

.main-content {
  margin-left: 280px; 
  margin-top: 30px;
  padding: 20px;
  flex: 1;
}


.message{
  color: rgb(237, 74, 74);
  font-size: xx-large;
  text-align: center;
  padding: 300px;
}


